$primary:#2966ce ;
$active: #ffffff;//高亮字体颜色
$nav-bg:#0E120E;
$bg:#00114b;
$white:#fff;
$btnFontColor: #000;
$color1:#fff;//普通字体颜色
$color2:#828A95;
$color3:#515871;
$bg2:rgba(50,54,69,0.6);
$border:#3f307c;
$border3:rgba(255,255,255,0.2);
$border2:#00114b;//普通模块背景
$bg3:rgba(0,0,0,0.3);
$bg4:rgba(0,0,0,0.5);
$bg5:rgba(50,54,69,0.8);
$bg6:rgba(0,194,143,0.1);
$bg7:rgba(23,27,41,0.2);
$up: #2d67e7;
$down:#FF615D;
$black:#3a0fa2;

$active_block:#3f307c;
$block_bg:#1b265c;

/* dalian css */
$d_card_bg1:#fc672a;      // 渐变色1、app色，用于重要的文字，用户卡片广告背景和某些按钮
$d_card_bg2:#fc672a;      // 渐变色→1到2 、app色，用于重要的文字，用户卡片广告背景和某些按钮
$d_btn_yellow1:#f9921c;   // 按钮渐变色1
$d_btn_yellow2:#f4a041;   // 按钮渐变色2
$d_btn_white:#f5f5f5;     // 按钮颜色白
$d_font_black:#323232;    // 字体 黑
$d_font_gray:#666666;     // 字体 深灰
$d_font_gray1:#aaaaaa;    // 字体 浅灰 未选中文字
$d_font_white:#ffffff;    // 字体 白
$d_font_blue:#fc672a;     // 字体 blue  变橙色
$d_bg:#ffffff;            // 用于非内容背景区域
$d_bg_grey:#F0F0F0;       // 背景深灰色部分
$d_bg_grey1:#FAFBFC;      // 背景浅灰色部分
$d_white:#ffffff;         // 普通白
$d_blue:#fc672a;          // 普通蓝 变橙色
$d_input:#e6e6e6;         //输入框文字颜色
$d_font_up:#239d74;       //涨跌文字颜色：涨
$d_font_down:#df1935;     //涨跌文字：跌
$d_bg_orange:#F69130;     //按钮背景色：橙色

$d_header_bg:#FAFBFC;      // header背景色
$d_header_bottom_border:#EAECF6;  // header 地边栏颜色
$d_bg_up:#22ad36;         //涨跌背景颜色：涨
$d_bg_down:#e24143;       //涨跌背景：跌


